# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDZkMUjrL73s-AzY-MkrEer1S2gM-_3nXQ
VITE_FIREBASE_AUTH_DOMAIN=elparte-obras.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=elparte-obras
VITE_FIREBASE_STORAGE_BUCKET=elparte-obras.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=317860677294
VITE_FIREBASE_APP_ID=1:317860677294:web:4406171593805b094a8f3f

# Approved admin accounts (comma-separated emails)
VITE_ADMIN_EMAILS=eladiomateosoto@gmail.com,amrosquet@hotmail.com
